{% extends 'base.html.twig' %}

{% block title %}Asignaturas index{% endblock %}

{% block body %}
    <h1>Asignaturas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asignatura in asignaturas %}
            <tr>
                <td>{{ asignatura.id }}</td>
                <td>{{ asignatura.nombre }}</td>
                <td>
                    <a href="{{ path('asignaturas_show', {'id': asignatura.id}) }}">show</a>
                    <a href="{{ path('asignaturas_edit', {'id': asignatura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('asignaturas_new') }}">Create new</a>
{% endblock %}
